{% extends 'base.html' %}

{% block title %} MyContacts! - Contacts {% endblock %}

{% block content %}
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'myContacts/contacts/css/style.css' %}">
    <h1>Contacts:</h1>
    <!--Add contact button-->
    <button id="addButton" onclick="location.href = '/contacts/add';">Add Contact</button>
    <!--Contacts table-->
    <table id="contactTable">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Status</th>
            <th>Operation</th>
        </tr>
        <!--Mocked-->
        <!-- <tr>
            <td>Alexis</td>
            <td>Alexis</td>
            <td>Alexis</td>
            <td>Alexis</td>
            <td>Alexis</td>
        </tr> -->
    </table>
    <script src="{% static 'myContacts/contacts/js/contact.js' %}"></script>
{% endblock %}