{% block navbar %} 
    {% load static %}
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'shared/bootstrap.min.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item table-hover">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'contacts' %}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'add_contact' %}">Create Contact</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}